/* * =========================================== */
/* * ============== ABOUT SECTION ============== */
/* * =========================================== */

.about {
  background-color: white;
}

.about .container {
  flex-direction: column;
  gap: 60px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.about-content p {
  min-width: 500px;

  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  color: var(--color-section-content);
}

.about-content img {
  width: 347.64px;
  /* Adjust width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

@media (max-width: 1060px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}

@media (max-width: 630px) {
  .about-content p {
    min-width: auto;
    max-width: 100%;
  }
}
