/* * =========================================== */
/* * ================== HEADER ================= */
/* * =========================================== */

.header {
  height: 156px;
  width: 100%;
  padding: 0 3%;
  background-color: var(--color-secondary);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container {
  position: relative;
  z-index: 2;
}

.logo img {
  width: 62px;
  /* Adjusted width */
  height: auto;
  /* Maintain aspect ratio */
}

.logotext img {
  width: 102px;
  height: auto;
}

.logo-text-container {
  display: flex;
  align-items: center;
  gap: 9.5px;
}

.nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav a {
  border-radius: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  color: var(--color-link);
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.download-app-language {
  display: flex;
  align-items: center;
  gap: 20px;
}

.download-app {
  text-align: right;
}

.download-btn {
  width: 165px;
  height: 52px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: var(--color-secondary);
}
/* 
.lang-btn {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
} */

.lang-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-cont span {
  margin: 0.5vw 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.lang-cont img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #47004c;
  cursor: pointer;

  position: relative;
  top: 0px;

  transition: all 0.3s ease;
}

.lang-cont img:hover {
  rotate: 90deg;
  scale: 1.1;
}

.lang-cont img:active {
  scale: 0.9;
}

.header .toggle-btn {
  display: none;

  cursor: pointer;
  opacity: 0.95;
}

.sidebar {
  width: 100%;
  height: 100vh;
  padding: 0 50px;

  position: fixed;
  top: 0px;
  left: 100vw;

  background-color: var(--color-secondary);
  z-index: 999;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

  transition: left 0.3s ease;
}

.sidebar .close-btn {
  padding: 30px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 33px;
  font-weight: 600;
  color: white;

  transition: scale 0.2s ease;
}

.sidebar .close-btn:hover {
  scale: 1.1;
}

.sidebar .close-btn:active {
  scale: 0.9;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  display: block;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 100px;

  font-size: 20px;
  letter-spacing: 0.1px;
  color: white;

  transition: background 0.3s ease, padding-left 0.3s ease;
}

.sidebar ul li a:hover {
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1150px) {
  .nav,
  .header .download-app-language {
    display: none;
  }

  .header .toggle-btn {
    display: block;
  }

  .header {
    padding: 0 5%;
  }
}

@media (max-width: 630px) {
  .header {
    padding: 0 4%;
  }

  .header .toggle-btn {
    scale: 0.8;
  }
}

@media (max-width: 520px) {
  .download-app-language {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
