/* * =========================================== */
/* * =============== HERO SECTION ============== */
/* * =========================================== */

.hero {
  margin-bottom: 50px;
  /* padding-top: 24px; */
  padding-bottom: 0;
  position: relative;
  background-color: var(--color-secondary);
  color: white;
}

.hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.oval1 {
  width: 1027.68px;
  height: 1027.68px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 3.61%;
  top: -663.46px;
  left: -785.71px;
}

.oval2 {
  top: -901.41px;
  left: -1015.18px;
  opacity: 4.58%;
  width: 1468.75px;
  height: 1467.86px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.oval3 {
  width: 2002.68px;
  height: 2001.78px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: -1185.79px;
  left: -1309.82px;
  opacity: 5.07%;
}

.oval1,
.oval2,
.oval3 {
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: -50px;
  left: 0;

  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 20vw;
}

.hero .hero-content {
  max-width: 50vw;
  margin-top: 50px;
}

.hero-content h1 {
  margin-bottom: 17px;

  font-size: 50px;
  font-weight: 800;
  line-height: 79px;
}

.hero .hero-content h1 {
  margin-bottom: 75px;
}

.hero-content p {
  /* width: 25vw; */
  margin-bottom: 58px;

  font-size: 24px;
  font-weight: 300;
  line-height: 36.19px;
  letter-spacing: 0.3px;
}

.hero-content h5 {
  width: fit-content;
  padding: 5px 15px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;

  font-size: 15.63px;
  font-weight: 800;
  line-height: 18.89px;
  letter-spacing: 1.8px;
}

.hero-image {
  width: 488px;
  height: 640px;

  position: relative;
}

.hero-image .phone {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: relative;

  z-index: 2;
}

.hero-image .dots-image {
  width: 8vw;

  position: absolute;
  top: -24px;
  right: 65px;

  z-index: 1;
}

@media (max-width: 1060px) {
  .hero .container {
    justify-content: center;
  }

  .wave {
    display: none;
  }

  .hero .hero-content {
    max-width: 100%;
    margin-bottom: 200px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .hero-content h1 {
    margin: 40px 0 75px 0;

    font-size: 70px;
  }

  .hero .hero-content p {
    margin-bottom: 100px;

    font-size: 30px;
    letter-spacing: 0.3px;
  }

  .hero .hero-content h5 {
    padding: 10px 25px;
    margin-bottom: 30px;

    font-size: 17.5px;
  }

  /* .hero .container {
    height: calc(100vh - 250px);
  } */

  .hero .hero-image {
    display: none;
  }
}

@media (max-width: 630px) {
  /* .hero {
    align-items: flex-start;
  } */

  .hero .hero-content {
    width: 100%;
    text-align: initial;

    align-items: flex-start;
  }

  .hero .hero-content,
  .hero .hero-content h1 {
    margin-top: 0;
  }
}

@media (max-width: 520px) {
  .hero .app-buttons {
    flex-direction: column;
  }
}
