@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-secondary: #47004c;
  --color-link: #fafafa;
  --color-section-heading: #222222;
  --color-section-description: #4e4e4e;
  --color-section-content: #38373a;
  --color-card-title: #3c0370;
  --color-card-content: #191720;
  --color-card-content-2: #584e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Urbanist", sans-serif;
}

body {
  /* line-height: 1.6; */
  width: 100vw;
}

.content {
  width: 100%;
  overflow: hidden;
}

.section {
  width: 100%;
  padding: 60px 5.6%;
}

.section-header {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-header .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.section-header h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: var(--color-section-heading);
}

.section-header .line {
  height: 2px;
  width: 50px;
  border-radius: 1px;
  background-color: var(--color-section-heading);
}

.section-header p {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: var(--color-section-description);
}

.hero .app-buttons,
.viewer .app-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hero .app-buttons a img,
.viewer .app-buttons a img,
.footer-card .app-buttons a img {
  width: 221.17px;
  height: 69.72px;
}

.grid {
  padding: 0 2%;
}

@media (max-width: 1060px) {
  .section {
    padding: 60px 3%;
  }
}
